.div-cardetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 56px;
}
.CarDetails{ 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.details-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    

}
.carousel-details{
    width: 90%;
}

.details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    
    
}
.details-content h6{
    margin-top: 1em;
    font-size: var(--md);
    color: var(--dark);
    font-weight: bold;
}
.model-car{
	font-size: 35px;
    font-weight: bold;
	color: var(--dark);
}

.span-details{
    font-size: var(--md);
    color: var(--dark);
}
.details-purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1em;
    
}
.price-purchase{
    color: var(--dark);
    font-weight: 300;
    font-size: 55px;
}
.purchase-contact{
    width: 50%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.purchase-button {
	background-color: var(--orange);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 40%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
    transition: all .5s;

}

.purchase-button:hover{
    transform: scale(110%);
}
.contact-button {
    box-sizing: border-box;
    border: 1px solid var(--orange);
	background-color: var(--white);
    color: var(--orange);
	border-radius: 8px;
	width: 40%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
    transition: all .5s;
}
.contact-button:hover{
    transform: scale(110%);
}
.purchase-problem{
    margin-top: 1.5em;
    color: var(--very-light-pink);
}
.purchase-problem span{
    cursor: pointer;
    color: var(--orange);
}
.cardetails-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 56px;
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
}
h6{
    margin: 0;
}
