.navbar{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #212529 !important;
}
.navbar-brand{
    color: var(--orange);
}
.navbar-brand:hover{
    color: var(--orange) !important;
}
.header-home{
    color: var(--orange) !important;
}
.div-icon-profil{
    display: flex;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    
}
.icon-profil{
    width: 40px;
}
