.settings-bar{
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 30px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F4F5F8;
    
}
.settings-bar-link{
    
    width: 100%;
    text-decoration: none;
    color: var(--dark);
    font-size: var(--md); 
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    

}

.settings-bar-link:nth-last-child(){
    margin-bottom: 0;
}
.settings-bar-link:hover{
    color: var(--dark);
    background-color: #e4e4e4;
    border-radius: 0 5px 5px 0;
    border-left: 5px solid var(--orange);
}

.settings-bar-span{
    width: 100%;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 10px;
    font-size: var(--sm);
    padding-bottom: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-weight: bold;

}